<article class="adalabers">
    <div class="container">
        <h2 class="adalabers__title"><span class="span__adalabers" id="adalabers"></span></span>quienes somos</h2>

        <!--lista de adalabers-->

        <!--adalaber 1-->

        <ul class="adalabers__grid">
            <li class="adalabers__grid-item">
                <div class="adalaber__box box__1">
                    <img class="adalaber__photo" src="assets/images/ayelen-180.jpg" alt="">
                    <div class="adalaber__content content__1">
                        <h3 class="adalaber__name">Ayelen Pérez de Mendiola</h3>
                        <p class="adalaber__description">Programadora por elección. Inquieta y en búsqueda de constantes aprendizajes. Me gusta programar por su potencial creativo y constructivo: transformar el código en contenido y el contenido en información accesible para todos los
                            usuarios, es para mí uno de los desafíos más atrapantes y gratificantes. Entre muchas cosas, también soy yogui y Lic. en Comunicación Social por la Universidad de Buenos Aires.</p>

                        <!--lista iconos rrss adalabers-->

                        <ul class="adalaber__rrss">
                            <li class="adalaber__rrss-item">
                                <a class="adalaber__rrss-link" href="https://twitter.com/AyeMendiola">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                            <li class="adalaber__rrss-item">·</li>

                            <li class="adalaber__rrss-item">
                                <a class="adalaber__rrss-link" href=" https://www.linkedin.com/in/ayelenperezdemendiola/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>

                            <li class="adalaber__rrss-item">·</li>

                            <li class="adalaber__rrss-item">
                                <a class="adalaber__rrss-link" href="https://github.com/ayelenperezdemendiola">
                                    <i class="fab fa-github-alt"></i>
                                </a>
                            </li>

                            <li class="adalaber__rrss-item">·</li>

                            <li class="adalaber__rrss-item">
                                <a class="adalaber__rrss-link" href="mailto:a.perezdemendiola@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <!--adalaber 2-->

            <ul class="adalabers__grid">
                <li class="adalabers__grid-item">
                    <div class="adalaber__box box__2">
                        <img class="adalaber__photo" src="assets/images/clara-180.jpg" alt="">
                        <div class="adalaber__content content__2">
                            <h3 class="adalaber__name">Clara Brígido</h3>
                            <p class="adalaber__description">Graduada en turismo con experiencia en eCommerce y sector online. Producto, marketing y ventas. Ahora también escribo líneas de código HTML, CSS y Javascript. Me definen en el trabajo adaptabilidad, compromiso y trabajo en
                                equipo. Creo en la evolución, el cambio y "si quieres, puedes". ¿Hablamos? </p>

                            <!--lista iconos rrss adalabers-->

                            <ul class="adalaber__rrss-left">
                                <li class="adalaber__rrss-item">
                                    <a class="adalaber__rrss-link" href="https://twitter.com/clarabrigido">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li class="adalaber__rrss-item">·</li>

                                <li class="adalaber__rrss-item">
                                    <a class="adalaber__rrss-link" href="https://www.linkedin.com/in/clarabrigido/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>

                                <li class="adalaber__rrss-item">·</li>

                                <li class="adalaber__rrss-item">
                                    <a class="adalaber__rrss-link" href="https://github.com/clarabrigido">
                                        <i class="fab fa-github-alt"></i>
                                    </a>
                                </li>

                                <li class="adalaber__rrss-item">·</li>

                                <li class="adalaber__rrss-item">
                                    <a class="adalaber__rrss-link" href="https://twitter.com/clarabrigido">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!--adalaber 3-->

                <ul class="adalabers__grid">
                    <li class="adalabers__grid-item">
                        <div class="adalaber__box box__1">
                            <img class="adalaber__photo" src="assets/images/martai-180.jpg" alt="">
                            <div class="adalaber__content content__1">
                                <h3 class="adalaber__name">Marta García</h3>
                                <p class="adalaber__description">Estudiante de Aeronáutica y enamorada de los animales, se define como curiosa por naturaleza y siempre en busca de nuevas respuestas y soluciones, lo que le llevó a convertir su hobby, picar código, en su trabajo. Como
                                    buena amante del deporte, busca ser competitiva y lo más eficiente para obtener el mejor resultado, siempre teniendo en mente un pensamiento colectivo para sacar el mayor rendimiento del equipo. </p>

                                <!--lista iconos rrss adalabers-->

                                <ul class="adalaber__rrss">
                                    <li class="adalaber__rrss-item">
                                        <a class="adalaber__rrss-link" href="https://twitter.com/MartaGrio">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="adalaber__rrss-item">·</li>

                                    <li class="adalaber__rrss-item">
                                        <a class="adalaber__rrss-link" href="https://www.linkedin.com/in/martagarcíadelrío">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>

                                    <li class="adalaber__rrss-item">·</li>

                                    <li class="adalaber__rrss-item">
                                        <a class="adalaber__rrss-link" href="https://github.com/martagrio">
                                            <i class="fab fa-github-alt"></i>
                                        </a>
                                    </li>

                                    <li class="adalaber__rrss-item">·</li>

                                    <li class="adalaber__rrss-item">
                                        <a class="adalaber__rrss-link" href="mailto:marta.igr90@gmail.com">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!--adalaber 4-->

                    <ul class="adalabers__grid">
                        <li class="adalabers__grid-item">
                            <div class="adalaber__box box__2">
                                <img class="adalaber__photo" src="assets/images/martap-180.jpg" alt="">
                                <div class="adalaber__content content__2">
                                    <h3 class="adalaber__name">Marta Prieto</h3>
                                    <p class="adalaber__description">Tengo un súper poder que me permite adaptarme a nuevos entornos. Evolucionar de modo constante junto con equipos o individualmente es la esencia para alcanzar nuevas metas. La perseverancia me acompaña en cada reto
                                        y seguir buscando la calidad en proyectos personales y profesionales me conduce con gran entusiasmo a dar el salto a este mundo digital.</p>

                                    <!--lista iconos rrss adalabers-->

                                    <ul class="adalaber__rrss-left">
                                        <li class="adalaber__rrss-item">
                                            <a class="adalaber__rrss-link" href="https://twitter.com/Tuchy89">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li class="adalaber__rrss-item">·</li>

                                        <li class="adalaber__rrss-item">
                                            <a class="adalaber__rrss-link" href="https://www.linkedin.com/in/marta-p-9a11119a">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>

                                        <li class="adalaber__rrss-item">·</li>

                                        <li class="adalaber__rrss-item">
                                            <a class="adalaber__rrss-link" href=" https://github.com/martaprieto89">
                                                <i class="fab fa-github-alt"></i>
                                            </a>
                                        </li>

                                        <li class="adalaber__rrss-item">·</li>

                                        <li class="adalaber__rrss-item">
                                            <a class="adalaber__rrss-link" href="mailto:martaprietoluque@gmail.com">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--adalaber 5-->

                        <ul class="adalabers__grid">
                            <li class="adalabers__grid-item">
                                <div class="adalaber__box box__1">
                                    <img class="adalaber__photo" src="assets/images/maria-180.jpg" alt="">
                                    <div class="adalaber__content content__1">
                                        <h3 class="adalaber__name">María Mata</h3>
                                        <p class="adalaber__description">'Soy de pasiones fuertes y motivaciones fugaces'. Yo díría que tengo un perfil profesional mixto. Siempre he coordinado proyectos y gestionado recursos con un contacto directo con el cliente, la verdad que lo han
                                            llamado de muy distintas maneras, desde project manager hasta consultora digital. :) Reciente mente me he reprogramado y cambiado al lado más tecnológico dentro del desarrollo Front end.</p>

                                        <!--lista iconos rrss adalabers-->

                                        <ul class="adalaber__rrss">
                                            <li class="adalaber__rrss-item">
                                                <a class="adalaber__rrss-link" href="https://twitter.com/matah_mer">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>

                                            <li class="adalaber__rrss-item">·</li>

                                            <li class="adalaber__rrss-item">
                                                <a class="adalaber__rrss-link" href="https://www.linkedin.com/in/mariamatahuerta">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>

                                            <li class="adalaber__rrss-item">·</li>

                                            <li class="adalaber__rrss-item">
                                                <a class="adalaber__rrss-link" href="https://github.com/meryada">
                                                    <i class="fab fa-github-alt"></i>
                                                </a>
                                            </li>

                                            <li class="adalaber__rrss-item">·</li>

                                            <li class="adalaber__rrss-item">
                                                <a class="adalaber__rrss-link" href="mailto:matah.maria@gmail.com">
                                                    <i class="fas fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
    </div>

</article>