<footer class="footer__container">
    <div class="container">
        <h4 class="copyright">re-programadas © 2019</h4>

        <nav class="footer__menu">
            <ul class="footer__list">

                <li class="list__item">
                    <a href="index.html#team" class="footer__link">
                        equipo
                    </a>
                </li>
                <li class="list__item">
                    <a href="index.html#adalabers" class="footer__link">
                        quiénes somos
                    </a>
                </li>
                <li class="list__item">
                    <a href="contact.html" class="footer__link">
                        contacto
                    </a>
                </li>

            </ul>
        </nav>
        <img class="logo" src="assets/images/logo-adalab.png" alt="logo de Adalab">
    </div>
</footer>