<header class="page__header">
    <div class="container">
    <h1 class="header__tittle">Re-programadas</h1>
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="menu__item">
                <a class="link" href="index.html#team">equipo</a>
            </li>
            <li class="menu__item">
                <a class="link" href="index.html#adalabers">quiénes somos</a>
            </li>
            <li class="menu__item">
                <a class="link" href="contact.html">contacto</a>
            </li>
        </ul>
    </nav>
    </div>
</header>