<article class="team__container">

    <div class="container">
        <div class="description__container">
            <h2 class="team__title"><span class="span__team" id="team"></span>EQUIPO</h2>
            <p>Re-programadas es un grupo formado por 5 mujeres, todas provenientes de diferentes sectores, pero con el mismo objetivo, aprovechar todas sus diversas experiencias para aportar nuevos enfoques a la programación y realizar proyectos innovadores
                y competitivos.</p>

            <p>Aunando cada una de las habilidades de las que disponen las integrantes, se ofrece diseños resfrescantes, creativos y que den ese plus extra que tanto buscan las empresas, no asolo para que sus webs ganen en visitas, sino también lo haga tanto
                en funcionalidad como en accesibilidad.</p>
        </div>
    </div>

    <div class="team__triangle"></div>

    <aside class="aside__container">
        <div class="container">
            <div class="aside__s">
                <h3>Fortalezas</h3>
                <p>Somos capaces de adaptarnos a las necesidades de diferentes proyectos y de integrarnos en diversos equipos de trabajo. Nos caracterizamos por ser mujeres emprendedoras, con muchas ganas de crecer y reinventarnos. Ante todo, nos encanta
                    programar &#128516
                </p>
            </div>

            <div class="aside__w">
                <h3>Debilidades</h3>
                <p>Estamos dando nuestros primeros pasos y por eso, pensamos que nuestras debilidades son nuestras oportunidades de aprendizaje.
                </p>
            </div>
        </div>

    </aside>

</article>