<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1baa5ed16a.js"></script>
    <link rel="stylesheet" href="assets/css/contact.css">
    <title>Contacto</title>
</head>

<body class="page">

    <!-- HEADER -->
    <partial src="_header.html" label="contact_header"></partial>

    <!-- MAIN -->
    <main class="main_contact">

        <!-- HERO -->
        <partial src="_contact_hero.html" label="contact_hero"></partial>

        <!-- FORM -->
       <partial src="_form.html" label="form"></partial>
    <!-- FOOTER -->
    <partial src="_footer.html" label="footer"></partial>

</body>

</html>