/* Responsive */

body {
    margin: 0;
}

.header__container {
    width: 100vw;
    margin: 0;
    padding: 0px;
    position: fixed;
    z-index: 1;
}

.header__container .container {
    margin: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*quitar para que se vea la opacidad
    background-color: rgba(9, 157, 142, 0.95);*/
}

.header__title {
    margin: 0;
    padding: 15px 0;
    color: #ffffff;
    background-color: rgba(9, 157, 142, 0.95);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    font-family: Rubik;
}

.header__nav-box {
    background-color: hsla(174, 83%, 46%, 0.90);
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 45px;
}

.nav__list-items {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    font-family: Rubik;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}


/* Version Tablet*/

@media all and (min-width:768px) {
    .header__container .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: stretch;
        background-color: rgba(9, 157, 142, 0.95);
    }
    .header__title {
        background-color: rgba(9, 157, 142, 0.95);
        flex: 1 1 auto;
        text-align: left;
        padding-left: 45px;
    }
    .header__nav-box {
        background-color: rgba(9, 157, 142, 0.95);
        flex: 2 1 auto;
        align-content: stretch;
    }
    .header__nav {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }
    .nav__list-items {
        padding-right: 20px;
    }
}


/* Laptop / Desktop  */

@media all and (min-width:1200px) {
    .header__title {
        background-color: rgba(9, 157, 142, 0.95);
        text-align: center;
    }
    .nav__list-items-3 {
        background-color: rgba(9, 157, 142, 0.95);
        margin-right: 10%;
    }
}